{% extends "../base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/auth.css" />
{% endblock %}

{% block root %}
<!-- As a link -->
<nav class="navbar navbar-light bg-light navbar-fixed-top">
  <a class="navbar-brand" href="/" style="font-weight:700;">국방 모바일 도서관</a>
</nav>
<!-- <div class="polka pattern"></div> -->
<div class="container">
	<div class="card signup-card">
		<h1 class="text-center">환영합니다!</h1>
		<br/>
		<form method="POST">
			<!-- 	계급 성명 육해공 소속		 -->
			<div class="form-group">
				<!-- <label for="serial_num">군번 :</label> -->
				<input type="text" class="form-control"  name="serial_num" id="serial_num" aria-describedby="emailHelp" placeholder="'-'를 포함한 군번(순번)을 입력해 주세요.">
			</div>
            <div class="form-group">
				<!-- <label for="password">비밀번호</label> -->
				<input type="password" class="form-control" id="password"  name="password" placeholder="비밀번호">
			</div>
			<div class="form-group">
				<!-- <label for="name">성명 :</label> -->
				<input type="text" class="form-control"  name="name" id="name" placeholder="성명">
			</div>
			<div class="form-group">
			  <select id="belong" name="belong" class="form-control">
                  <option selected hidden disabled>소속 군을 선택해 주세요.</option>
				<option value="1">국방부</option>
				<option value="2">육군</option>
				<option value="3">해군</option>
				<option value="4">해병대</option>
				<option value="5">공군</option>
			  </select>
			</div>
            <div class="form-group">
			  <select id="rank" name="rank" class="form-control">
                  <option selected hidden disabled>계급을 선택해 주세요.</option>
                  {% for k, v in rank %}
				  <option value="{{ k }}">{{ v }}</option>
                  {% endfor %}
			  </select>
			</div>
			<div class="form-group">
				<!-- <label for="name">소속 :</label> -->
				<input type="text" class="form-control"  name="unit" id="unit" placeholder="소속 부대(중대급까지 기입)">
			</div>
            
            <div class="form-group" style="margin-bottom:40px;">
				<input type="tel" class="form-control"  name="phoneNo" id="phoneNo" placeholder="휴대폰 번호를 입력해 주십시오.">
			</div>
			
			<p class="msg text-center">{{ msg }}</p>
			<button type="submit" class="btn btn-primary" style="padding: 10px 40px 10px 40px; font-size: 20px; margin-top:20px;">회원가입</button>
		</form>
		<a class="registerBtn" href="/user/signin">이미 가입하셨나요?</a>
	</div>
</div>
{% endblock %}